:root {
  --color-primary-400: #24053e;
  --color-primary-300: #44ffa1;
  --color-neutral-400: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}
